{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./src",
    "paths": {
      "#seedwork/*": ["./@core/@seedwork/*"],
      "#customer/*": ["./@core/customer/*"],
      "#order/*": ["./@core/order/*"],
      "#product/*": ["./@core/product/*"]
    }
  }
}
